@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="position: relative">
    <iframe id="vidos"
            style="position: absolute;
                   top: 50%;
                   transform: translate(0, 50%);
                   left: 25%;"
            class="vidos hide" width="600" height="350" src="https://www.youtube.com/embed/okj5MFqDvVA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="col-md-4">

    <div class=" col-sm-8 leftBar">
        <h2 class="contenter">Contentor</h2>
        <img src="~/Content/MaxPhoto.jpg" class="img-circle img-responsive userPhotoFrame">
        <h4 class="UserNickName">Максим Ханин</h4>
        <div class="col-sm-6 Follow">
            Followers<br>
            <h4>125M</h4>
        </div>
        <div class="col-sm-6 Follow">Following<br><h4>300</h4></div>

        <input type="text" class="searchTerm" id="searchInput" placeholder="Search"></input>
        
        <div id="searchContent" class="searchContent">
            @*<div class="audioItem1">
                <div class="audioItemImg1">
                    
                </div>
                <div class="audioItemDesc1">
                   
                </div>
            </div>*@
        </div>
        <div id="musics" style="text-align: center;"></div>

            <h5 class="updateProfile"><a id="go">Редактировать</a></h5>

        </div>
        <div class=" col-sm-4"></div>
    </div>
<div class="col-md-8 ">
    <div class="col-sm-12 content-block">
        <h3>Content</h3>

        <div id="wrapper">
            <div id="backer"></div>

        </div>
    </div>

    <input style="margin-top:50px" id="txtLink" type="text" placeholder="Insert a link here..."></input>
    <button id="buttonSubmit">Submit</button>
</div>

@*-------------------------------------------------------*@
@*Popup Form*@

<div id="modal_form">
    <!-- Сaмo oкнo -->
    <span id="modal_close">X</span> <!-- Кнoпкa зaкрыть -->
    <!-- Тут любoе сoдержимoе -->
    <div class="modalUserData">
        <label>Имя</label><br>
        <input id="userFirstName" type="text"></input><br>

        <label>Фамилия</label><br>
        <input id="userSirName" type="text"></input><br>

        <label>Номер телефона</label><br>
        <input id="userPhoneNumber" type="text"></input><br>

        <button id="submitUserData">Ок</button>
    </div>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->
@*------------------------------------------------------------------*@


<script>

    $(document).ready(function () {
        load_new_content();

        $("#buttonSubmit").click(function () {
            var video = { Link: $("#txtLink").val() };
            $.ajax
                ({
                    url: 'http://localhost:56222/api/VideoApi/PostVideoAsync/',
                    data: JSON.stringify(video),
                    type: 'post',
                    contentType: "application/json;charset=utf-8",
                    success: function (data, textStatus, xhr) {
                        var image = '<img src="data:image/png;base64,' + data.Image + '" class="content-img" ></img>';
                        var div = "<div><h3>" + data.Title + "</h3><h4>" + data.WebSite + "</h4><h5>" + data.Url + "</h5><h6>" + data.Description + "</h6>";

                        $('#wrapper').append('<div id="item"></div>');
                        $('#item').append(div);
                        $('#item').append(image);
                        $('#item').append('</div>');

                    },
                    error: function (response) {
                        console.log(response.responseJSON.Desc);
                        alert(response.responseJSON.Desc);
                    }
                });
        });

        $('a#go').click(function (event) { // лoвим клик пo ссылки с id="go"
            event.preventDefault(); // выключaем стaндaртную рoль элементa
            $('#overlay').fadeIn(400, // снaчaлa плaвнo пoкaзывaем темную пoдлoжку
                function () { // пoсле выпoлнения предъидущей aнимaции
                    $('#modal_form')
                        .css('display', 'block') // убирaем у мoдaльнoгo oкнa display: none;
                        .animate({ opacity: 1, top: '50%' }, 200); // плaвнo прибaвляем прoзрaчнoсть oднoвременнo сo съезжaнием вниз
                });
        });
        /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
        $('#modal_close, #overlay').click(function () { // лoвим клик пo крестику или пoдлoжке
            $('#modal_form')
                .animate({ opacity: 0, top: '45%' }, 200,  // плaвнo меняем прoзрaчнoсть нa 0 и oднoвременнo двигaем oкнo вверх
                    function () { // пoсле aнимaции
                        $(this).css('display', 'none'); // делaем ему display: none;
                        $('#overlay').fadeOut(400); // скрывaем пoдлoжку
                    }
                );
        });


    });

    function load_new_content() {
        $.ajax
            ({
                url: 'http://localhost:56222/api/VideoApi/GetVideosAsync/',

                type: 'get',
                contentType: "application/json;charset=utf-8",
                success: function (data, textStatus, xhr) {

                    var i;
                    for (i = 0; i < data.length; i++) {
                        var image = '<img src="data:image/png;base64,' + data[i].Image + '" class="content-img" ></img>';
                        var div = "<div><h3>" + data[i].Title + "</h3><h4>" + data[i].WebSite + "</h4><div class='youtube'><h5>" + data[i].Url + "</h5></div><h6>" + data[i].Description + "</h6>";

                        $('#wrapper').append('<div id="item"></div>');
                        $('#item').append(div);
                        $('#item').append(image);
                        $('#item').append('</div>');
                    }

                },
                error: function (response) {
                    console.log(response.responseJSON.Desc);
                    alert(response.responseJSON.Desc);
                }
            });
    }

    function show() {
        
        var link = $("#itId").val();
        $.ajax({
            url: 'http://localhost:56222/api/site/?link=' + link,
            type: 'GET',
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                console.log(data);
                var image = new Image();
                image.src = 'data:image/png;base64,' + data.Image;
                var div = "<div><h1>" + data.Title + "</h1><h2>" + data.WebSite + "</h2>" +
                    "<div class='youtube' id='win3'><h4>" + data.Url + "</h4></div><h6>" + data.Description + "</h6>";
                $('#item').append(div);
                $('#item').append(image);
                $('#item').append('</div>');
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log('Error in Operation');
            }
        });
    };

    $(document).on("click", "div.youtube", function () {
        
        $('#vidos').attr('src', convertLink($(this).text()));
        ShowOrHideVideo();
    });
    function ShowOrHideVideo() {
        if ($('#backer').hasClass('backdrop')) {
            $('#backer').removeClass('backdrop');
            $('#vidos').hide();
        }
        else {
            $('#backer').addClass('backdrop');
            $('#vidos').show();
            $('#vidos').removeClass('hide');
        }
    };
    function convertLink(url) {
        function getId(url) {
            var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            var match = url.match(regExp);

            if (match && match[2].length == 11) {
                return match[2];
            } else {
                return 'error';
            }
        }
        var videoId = getId(url);
        return "https://www.youtube.com/embed/" + videoId;
    };


    $(document).on("click", "button#submitUserData", function () {
        
        console.log($("#userFirstName").val());
        console.log($("#userSirName").val());
        console.log($("#userPhoneNumber").val());

        $.ajax
            ({
                url: 'http://localhost:56222/api/UsersApi/PostAsync/',

                type: 'get',
                contentType: "application/json;charset=utf-8",
                success: function (data, textStatus, xhr) {


                    var i;
                    for (i = 0; i < data.length; i++) {
                        var image = '<img src="data:image/png;base64,' + data[i].Image + '" class="content-img" ></img>';
                        var div = "<div><h3>" + data[i].Title + "</h3><h4>" + data[i].WebSite + "</h4><div class='youtube'><h5>" + data[i].Url + "</h5></div><h6>" + data[i].Description + "</h6>";

                        $('#wrapper').append('<div id="item"></div>');
                        $('#item').append(div);
                        $('#item').append(image);
                        $('#item').append('</div>');
                    }

                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
    });
   



    function showMusicSearch() {

        

        var track = $("#searchInput").val();
        $('#searchContent').empty();
        $('#searchContent').removeClass('dropdown-content');
        if (track.length == 0) return;
        $.ajax({
            url: 'http://localhost:56222/api/AudioApi/GetSearchTrack?track=' + track + '&type=track&limit=10',
            type: 'GET',
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            success: function (data, textStatus, xhr) {

                console.log(data);

                for (var i = 0; i < data.length; i++) {

                    //$('.audioItemImg1').append("<image src=" + data[i].Image + ">");
                    //$('.audioItemDesc1').append("<h5>" + data[i].Name + "</h5>");
                    //$('.audioItemDesc1').append("<h6>" + data[i].Duration + "</h6>");
                    //$('.audioItemDesc1').append("<i class='fa fa-play listen' aria-hidden='true' id=" + data[i].Id + ">");

                  //  $('#searchContent').append("<div style='width:100%; height:50px;'>");
                    $('#searchContent').append("<image style='float:left;' src=" + data[i].Image + ">");
                    $('#searchContent').append("<h5 style=''>" + data[i].Name + "</h5>");
                    $('#searchContent').append("<h6 style='display:inline-block; margin-top: 0px !important;'>" + data[i].Duration + "</h6>");
                    $('#searchContent').append("<i style='' class='fa fa-play listen' aria-hidden='true' id=" + data[i].Id + ">");
                    $('#searchContent').append("<br >");
                    $('#searchContent').append("<br >");
                  //  $('#searchContent').append("</div >");
                }
                $('#searchContent').addClass('dropdown-content');
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("Error in getting Music");
            }
        });
    };
    $(document).on("click", ".listen", function () {

        var id = $(this).attr('id');
        $('#musics').empty();
        $('#musics').append("</i><iframe class='spotifyIframe' id=" + id + " src='https://open.spotify.com/embed/track/" + id + "' width='300' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe>")


    });
    

    $("#searchInput").keypress(function (e) {
        if (e.which == 13) {
            showMusicSearch();
        }
    });

</script>


